<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <%- include('header') -%>

    <h1><%= message %></h1>
    <p>Az életkorod:<%=age%></p>
    <p><%if(age>=18) { %>
        Felnőtt    
    <%} else { %>
        Gyerek vagy!
    <%} %>
    <p>Az oldalt készítette: <%= name %></p>
    </p>
  </body>
</html>